.skillbar {
    position: relative;
    margin-bottom: 30px;
    width: 100%;
}

.skillbar-bar:before {
    background: #ccc;
    content: "";
    height: 3px;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.skillbar-bar {
    height: 3px;
    width: 0px;
    background: #424242;
    transition-property: width, background-color;
}

.skillbar-title {
    color: #424242;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

.skill-bar-percent {
    float: right;
    display: inline-block;
    color: #424242;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
}

/* CENTERING ONLY */

.container-fluid .row .col .wrapper {
    position: relative;
    width: 100%;
    float: right;
    margin-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
/*     transform: translateX(-50%) translateY(-50%); */
}