@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #424242;
  width: 100%;
}

/*-- Nav --*/

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.hover {
  color:  #0062cc;
}

/*-- Landing Page --*/

.home-inner {
  background-image: url(../img/bg.webp);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 45%;
  z-index: 1;
  color:  #424242;
  text-transform: uppercase;
}

.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .7rem   #424242;
  padding-bottom: 1rem;
}

/*============= About Section =============*/


.about {
  background-color: #fff;
  display: grid;
}

.container-fluid .row .col .info img {
  width: 20%;
  animation: drop 1.5s ease;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s;
}

#about h1 {
  text-align: center;
  padding-top: 5%;
  color: #424242;
}

#about .skills h3 {
  text-align: center;
  padding-top: 5%;
  float: right;
}

.container-fluid .row .col .info {
  width: 100%;
  float: left;
  margin-left: 2%;
}

.container-fluid .row .col .info img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

#about .info p {
  width: 60%;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  color: #424242;
}

#about .info h3 {
  width: 60%;
  text-align:justify;
  margin-left: auto;
  margin-right: auto;
  color:  #424242 ;
}

/*============= Projects Section =============*/

#projects h1 {
  color:  #424242 ;
}

.card-container {
  position: relative;
  width: 18rem;
  perspective: 200rem;
  height: 412px;
}

.card-container:hover .card-front {
  transform: rotateY(180deg);
}

.card-container:hover .card-back {
  transform: rotateY(0deg);
}

#projects .container-fluid .row .col .container .row .col .card-container .card img {
  width: 20%;
  animation: drop 1.5s ease;
  margin-left: auto;
  margin-right: auto;
}

.card-back {
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  transition: all 0.9s;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.card-back .card-body {
  position: relative;
}

.card-body a {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -10% 0 0 -10%;
}

a.btn.btn-primary:hover {
    color: #424242;
    background-color: #0062cc;
    border-color: #005cbf;
}

#projects .col-md-4 {
  width: auto;
  flex: 0 0 0;
}

/*============= Contact Section =============*/

a.btn.btn-primary {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

/*============= Footer Section =============*/

footer {
  background-color: #424242;
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover {
  color: #0062cc;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid white;
  margin-top: 3rem;
}

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
  }
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: white;
  background-color: #1EBBA3;
  color: #424242;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: white;
  background-color: white;
  color: #424242;
}

@media (max-width: 767px) {
  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 45%;
    z-index: 1;
    color:  #424242;
    text-transform: uppercase;
  }
  
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }

  .container-fluid .row .col .info img {
    width: 60%;
    animation: drop 1.5s ease;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
  }

  #projects .col-md-4 {
    width: auto;
    flex: 0 0 0; 
  }
  }



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
